<div class="row mt-5">
    <div class="col-12">
        <div class="text-center h1 font-weight-bold text-info">Bienvenue chez nous qui est aussi chez vous!</div>

        <div class="mb-5">
            <p class="text-left h2 font-weight-bold text-info">Qui sommes-nous ?</p>
            <p class="h3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque esse facilis
                nostrum repellendus temporibus, ut vero! Consequatur expedita Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet architecto asperiores consectetur cupiditate dignissimos est ipsam labore laboriosam
                laborum nobis, perferendis praesentium quaerat quidem reiciendis sequi ut velit voluptatum?
                harum modi natus soluta. Consequatur distinctio ipsum nam perferendis porro, provident repellat!</p>
        </div>

        <div class="mb-5">
            <p class="text-left h2 font-weight-bold text-info">Notre vision</p>
            <p class="h3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque esse facilis
                nostrum repellendus temporibus, ut vero! Consequatur expedita
                harum modi natus soluta. Consequatur distinctio ipsum nam perferendis porro, provident repellat!</p>
        </div>

        <div class="mb-5">
            <p class="text-left h2 font-weight-bold text-info">Notre mission</p>
            <p class="h3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque esse facilis
                nostrum repellendus temporibus, ut vero! Consequatur expedita
                harum modi natus soluta. Consequatur distinctio ipsum nam perferendis porro, provident repellat!</p>
        </div>

        <div class="mb-5">
            <p class="text-left h2 font-weight-bold text-info">Valeur</p>
            <p class="h3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque esse facilis
                nostrum repellendus temporibus, ut vero! Consequatur expedita
                harum modi natus soluta. Consequatur distinctio ipsum nam perferendis porro, provident repellat!</p>
        </div>
    </div>
</div>
