<div class="row mt-5">
    <div class="col-12">
        <p class="text-left font-weight-bold h2 text-info">Contactez-nous</p>
        <p class="h3">
            Afin de mieux servir nos clients, nous sommes disponibles pour vous répondre sur notre adresse email <span class="text-info font-weight-bold">anonymat97@gmail.com</span>.
            Nous sommes aussi joignable au <span class="text-info font-weight-bold">+226 01 01 01 01</span> ou vous pouvez également remplir le formulaire ci-après.
        </p>
    </div>

    <div class="col-12 h4">
        <form>
            <div class="from-group">
                <label class="col-form-label">Votre nom <span class="span">*</span></label>
                <input type="text" class="form-control" placeholder="Entrez votre nom"/>
            </div>

            <div class="from-group">
                <label class="col-form-label">Votre adresse de messagerie <span class="span">*</span></label>
                <input type="email" class="form-control" placeholder="Entrez adressse de messagerie"/>
            </div>

            <div class="from-group">
                <label class="col-form-label">Votre message <span class="span">*</span></label>
                <textarea id="" cols="30" rows="10" class="form-control" placeholder="Entrez votre message"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-info">Envoyer</button>
            </div>
        </form>
    </div>
</div>
