<div class="row">
    <div class="col-12 mt-5 mb-5">
        <hr>
        <hr>

        <p class="font-weight-bold text-center text-info h1 mt-5">Bienvenue sur RaagaNet</p>

        <p class="font-weight-bold text-center text-info h3">
            Un système de vente et de valorisation d'objet d'art Burkinabè
        </p>

        <div class="text-center mb-5">
            <button class="btn btn-outline-info border-info rounded form-control">
                Commencer
            </button>
        </div>

        <hr>
        <hr>
    </div>

    <div class="col-12 mt-5  btn btn-info mb-3">
        <p class="text-centertext-white">Visitez les différentes catégories d'objets d'art</p>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img [src]="'../../content/img/art-bois.png'" class="img-fluid card-img-top w-100 h-100" alt="Artisanat du bois"/>

                    <div class="card-body">
                        <h1>Artisanat du bois</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                            olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                        <button class="btn btn-info text-white font-weight-bold">
                            Lire la suite <fa-icon icon="arrow-right "></fa-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img [src]="'../../content/img/art-cuir.png'" width="100" height="100" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                    <div class="card-body">
                        <h1>Artisanat du cuir</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                            olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                        <button class="btn btn-info text-white font-weight-bold">
                            Lire la suite
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img [src]="'../../content/img/art-graphique.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                    <div class="card-body">
                        <h1>Artisanat graphique</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                            olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                        <button class="btn btn-info text-white font-weight-bold">
                            Lire la suite
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img [src]="'../../content/img/art-metal.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                    <div class="card-body">
                        <h1>Artisanat du métal</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                            olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                        <button class="btn btn-info text-white font-weight-bold">
                            Lire la suite
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img [src]="'../../content/img/art-peinture.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                    <div class="card-body">
                        <h1>Artisanat de la peinture</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                            olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                        <button class="btn btn-info text-white font-weight-bold">
                            Lire la suite
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img [src]="'../../content/img/art-textille.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                    <div class="card-body">
                        <h1>Artisanat du textille</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                            olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                        <button class="btn btn-info text-white font-weight-bold">
                            Lire la suite
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img [src]="'../../content/img/art-vannerie.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                    <div class="card-body">
                        <h1>Artisanat de la vannerie</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                            olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                        <button class="btn btn-info text-white font-weight-bold">
                            Lire la suite
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3 mb-5">
                <div class="card">
                    <img [src]="'../../content/img/art-poterie.png'" class="img-fluid card-img-top h-75" alt="Artisanat du bois"/>

                    <div class="card-body">
                        <h1>Artisanat de la poterie</h1>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam dolor, explicabo fugiat iste labore m
                            olestiae sit ullam? Aspernatur consequuntur fugit in labore minus non quasi quia quidem quod recusandae.</p>

                        <button class="btn btn-info text-white font-weight-bold">
                            Lire la suite
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
